@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Just+Another+Hand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Jim+Nightshade&family=Just+Another+Hand&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Josefin Sans", sans-serif; */
  /* font-family: "Bebas Neue", sans-serif; */
  font-family: "Belleza", sans-serif;
  letter-spacing: 2px;

  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

::-webkit-scrollbar {
  width: 7px;
  scrollbar-color: white;
}

::-webkit-scrollbar-thumb {
  background: #c4f000;
  border-radius: 10px;
}

::selection {
  color: #070707;
  background: #c4f000;
}

/* Hero circular spin */
.circle-text {
  -webkit-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* body {
  background: #141827;
  color: #fff;
} */
.dark-bg-color {
  background: #0e0f11;
}

.dark-theme {
  /* background: #0e0f11; */
  background: #141827;
  color: #fff !important;
}

.light-theme {
  background: #fff;
  color: #020106;
}

.textColor {
  color: #fff !important;
}

.image {
  animation: animate 6s ease-in-out infinite;
  transition: all 2s ease-in-out;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.btn-blue {
  background: #c4f000;
  color: #000;
}

#home {
  background-color: #0a0033;
  background-image: -webkit-linear-gradient(135deg, #0a0033 0%, #020106 74%);
  background-image: linear-gradient(315deg, #0a0033 0%, #020106 74%);
}

.footer-class {
  background: #c4f000;
  color: #070707;
}

.theme-btn {
  background: #c4f000;
  color: #000;
  cursor: pointer;
  display: inline-block;
  border: 1px solid rgb(196, 240, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  text-transform: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 0px 0px;
}

.theme-btn:hover {
  border: 1px solid rgb(196, 240, 0);
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #070707;
}

.backdrop-bg {
  background: #000;
  /* border-bottom: 1px dashed rgba(119, 119, 125, 0.2); */
}

.text-custom-green {
  color: #c4f000;
}

.contact-wrapper {
  position: relative;
}

.contact-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(#c4f000, transparent 1px),
    linear-gradient(to right, #c4f000, transparent 1px);
  background-size: 100% 48px, 51px 100%;
  opacity: 0.3;
}