@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Bebas Neue", sans-serif; */
  /* font-family: "Lato"; */
  /* font-family: "Oswald", sans-serif; */

  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
::-webkit-scrollbar {
  width: 7px;
  scrollbar-color: white;
}
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

::selection {
  color: white;
  background: #000;
}

/* Hero circular spin */
.circle-text {
  -webkit-animation: spin 12s linear infinite;
  animation: spin 12s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* body {
  background: #141827;
  color: #fff;
} */
.dark-bg-color {
  background: #141827;
}
.dark-theme {
  background: #141827;
  color: #fff;
}
.light-theme {
  background: #fff;
  color: #9ca3af;
}
.image {
  animation: animate 6s ease-in-out infinite;
  transition: all 2s ease-in-out;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.btn-blue {
  background: #6679f8;
  color: #fff;
}
